{% extends 'base.html.twig' %}

{% block title %}Add category{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {{ include('Manage/_form_category.html.twig') }}

    <a href="{{ path('manage_index') }}">Back</a>

{% endblock %}
