{% extends 'base.html.twig' %}

{% block title %}Manage{% endblock %}

{% block body %}

    {% from "macros.html.twig" import categoryTree %}
    <ul>
        {% for category in categories %}
            {% if category.parent == null %}
                {{ categoryTree(category) }}
            {% endif %}
        {% endfor %}
    </ul>

    <a href="{{ path('manage_add', {'type': 'category'}) }}"><button class="btn">Add category</button></a>



    {% from "macros.html.twig" import tagList %}
    <ul>
        {% for tag in tags %}
                {{ tagList(tag) }}
        {% endfor %}
    </ul>

    <a href="{{ path('manage_add', {'type': 'tag'}) }}"><button class="btn">Add tag</button></a>

{% endblock %}

